@import url('https://fonts.googleapis.com/css?family=Merienda');
.index-divs {
    font-family: "Merienda";
    font-size: 50px;
    text-align: center;
    width: 300px;
    height: 100px;
}

body {
  background: linear-gradient(to bottom, #ffffff 0%, #ff99cc 100%);
}


#signin, #signup{
  text-align: center;
  height: 100px;
  width: 300px;
  border: 2px solid black;
  display: inline-block;
}

#or{
  text-align: center;
  height: 100px;
  width: 300px;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}


